/* css styles */
.title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
}

.quarto-title-banner {
  margin-top: -27px;
  margin-block-end: 1rem;
  position: relative;
  margin-bottom: 30px;
  height: 100vh;
}

.quarto-title > h1.title {
  opacity: 0 !important;
}